<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Kuva-arvoitus
    link(rel="stylesheet", href="scss/style.scss")
  body
    .join-container
      .header Join room
      div
        input#join-room-name(type="text", placeholder="Room name...")
        input#join-player-name(type="text", placeholder="Your name...")

      div
        button#join-room Join

    .game-container
      .left
        .current-color(data-color="black", style="background: black")
        .palette
          - const colors = [
          -   '#000000', '#FFFFFF',
          -   '#4C4C4C', '#C1C1C1',
          -   '#740B07', '#EF130B',
          -   '#C23800', '#FF7100',
          -   '#E8A200', '#FFE400',
          -   '#005510', '#00CC00',
          -   '#00569E', '#00B2FF',
          -   '#0E0865', '#231FD3',
          -   '#550069', '#A300BA',
          -   '#A75574', '#D37CAA',
          -   '#63300D', '#A0522D'
          - ];
          
          - for (const color of colors) {
            .color(data-color=color, style="background:" + color)
          - }

        p
          input#stroke-width(type="range", min=1, max=30, value=3, step=1)

        p
          button#clear-canvas Clear

      .middle
        canvas#game
        
      .right
        div
          include pug/icons/gamepad.pug
          span#room-name

        .player-list
          .header
            include pug/icons/users.pug
            | Players (
            span#room-user-count 0
            | )

          .players
            
        .messages
        
        input#chatbox-text(type="text")

  script(src='app.ts')